
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerifyEmail</title>
</head>
<body>

    
<div class="container">
    <div class="row">
        <div class="col-12">
            <div style="align-items:center" class="alert alert-success my-5">
                Please check your E-mail address.
            </div>
            <div class="pb-4">
                <a class="btn btn-outline-success" asp-controller="Auth" asp-action="Login">Sign In</a>
            </div>

        </div>
    </div>
</div>


</body>
</html>
